.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      %p text
      .chat-main__group-info__name__member
        %p Menber :masa
    .chat-main__group-info__edit
      = link_to "#" do
        edit
  .chat-main__message-list
    .chat-main__message-list__box
      .chat-main__message-list__box__data-top
        %p.name-top masa
        %p.date 2019/11/20(Wed) 17:43:01
      .chat-main__message-list__box__post
        %p おはよう！
    .chat-main__message-list__box
      .chat-main__message-list__box__data
        %p.name masa
        %p.date 2019/11/20(Wed) 17:43:34
      .chat-main__message-list__box__post
        %p 今日は夜から雨

  .chat-main__message-form
    %form.form-tag
      .input-box
        %input{type: "text", class: "textbox", placeholder: "Type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      = link_to "#" do
        %input{type: "submit", value: "Send", class: "submit"}