.sidebar
  .sidebar__user-name
    .sidebar__user-name__top-items
      .sidebar__user-name__top-items__name
        %p masa
      .sidebar__user-name__top-items__icons
        = link_to "#" do
          = icon('fab', 'facebook-square')
        = link_to "#" do
          = icon('far', 'edit')
  .sidebar__group
    .sidebar__group__name
      %p techcamp
    .sidebar__group__message
      %p まだメッセージがありません。
